
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px (iphone SE portrait)
*/
@media only screen and (min-width: 310px) and (max-width: 480px) {
    .profilepic-xs{
        border: solid 0.6vw #468faf;
        width:100%;
    }
    .profilename-xs{
        font-size:1.6vw;
    }
    .profilenamecontact-xs{
        font-size:1.5vw;
        color: #42c0fb;
    }
    .profilenamedesig-xs{
        font-size:1.5vw;
    }
    .profiletitleleft{
        font-size: 2vw;
    }
    .profiledescriptionleft{
        font-size: 1.7vw;
    }
    .profiletitleright{
        font-size: 2vw;
    }
    .profiledescriptionright{
        font-size: 1.7vw;
    }
    .piechartlegenditem{
        font-size: 0.5vw;
    }
    .footernamecontact-xs{
        font-size:1vw;
        color: #42c0fb;
    }
    .footerspacing-xs{
        padding-top: 5px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px (iphone SE landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
    .profilepic-xs{
        border: solid 0.6vw #468faf;
        width:100%;
    }
    .profilename-xs{
        font-size:1.6vw;
    }
    .profilenamecontact-xs{
        font-size:1.5vw;
        color: #42c0fb;
    }
    .profilenamedesig-xs{
        font-size:1.5vw;
    }
    .profiletitleleft{
        font-size: 2vw;
    }
    .profiledescriptionleft{
        font-size: 1.7vw;
    }
    .profiletitleright{
        font-size: 2vw;
    }
    .profiledescriptionright{
        font-size: 1.7vw;
    }
    .piechartlegenditem{
        font-size: 1vw;
    }
    .footernamecontact-xs{
        font-size:1vw;
        color: #42c0fb;
    }
    .footerspacing-xs{
        padding-top: 5px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px (ipad landscape)
*/

@media (min-width: 1024px) and (max-width: 768px) {
    .profilepic-sm{
        border: solid 0.6vw #468faf;
        width:50%;
    }
    .profilename-sm{
        font-size:3.2vw;
    }
    .profilenamecontact-sm{
        font-size:1.4vw;
        color: #42c0fb;
    }
    .profilenamedesig-sm{
        font-size:1.7vw;
    }
    .profiletitleleft{
        font-size: 1.8vw;
    }
    .profiledescriptionleft{
        font-size: 1.5vw;
    }
    .profiletitleright{
        font-size: 1.8vw;
    }
    .profiledescriptionright{
        font-size: 1.5vw;
    }
    .piechartlegenditem{
        font-size: 1vw;
    }
    .footernamecontact-sm{
        font-size:1vw;
        color: #42c0fb;
    }
    .footerspacing-sm{
        padding-top: 4px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px (ipad ipadpro portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .profilepic-sm{
        border: solid 0.6vw #468faf;
        width:50%;
    }
    .profilename-sm{
        font-size:3.2vw;
    }
    .profilenamecontact-sm{
        font-size:1.5vw;
        color: #42c0fb;
    }
    .profilenamedesig-sm{
        font-size:1.7vw;
    }
    .profiletitleleft{
        font-size: 1.8vw;
    }
    .profiledescriptionleft{
        font-size: 1.5vw;
    }
    .profiletitleright{
        font-size: 1.8vw;
    }
    .profiledescriptionright{
        font-size: 1.5vw;
    }
    .piechartlegenditem{
        font-size: 1vw;
    } 
    .footernamecontact-sm{
        font-size:1vw;
        color: #42c0fb;
    }   
    .footerspacing-sm{
        padding-top: 4px;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px (ipad pro landscape and desktop)
*/

@media (min-width: 1025px) {
    .profilepic-md{
        border: solid 0.6vw #468faf;
        width:70%;
    }
    .profilename-md{
        font-size:5vw;
    }
    .profilenamecontact-md{
        font-size:1vw;
        color: #42c0fb;
    }
    .profilenamedesig-md{
        font-size:1.5vw;
    }
    .profiletitleleft{
        font-size: 1.5vw;
    }
    .profiledescriptionleft{
        font-size: 1.2vw;
    }
    .profiletitleright{
        font-size: 1.5vw;
    }
    .profiledescriptionright{
        font-size: 1.2vw;
    }
    .piechartlegenditem{
        font-size: 0.5vw;
    }
    .footernamecontact-md{
        font-size:1vw;
        color: #42c0fb;
    }
    .footerspacing-md{
        padding-top: 16px;
    }
}

.clear {
    clear: both
  }


.headersection{
    background: #012a4a;
}
.linecolor{
    background: #468faf;
}

.resumeleftsectionbg
{
    background: #f2f2f2;
}

.profilename{
   font-size:3vw;
}

.profilecontactlist li a {
    color: #42c0fb;
    text-decoration: none;
}
.footercontactlist li a {
    color: #42c0fb;
    text-decoration: none;
}
.titlewithline h3 {
    position: relative;
}
.titlewithline h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -8px;
    right: 1px;
    background: #000000;
}
.footerlinks ul li{
    /*display: inline;*/
    /*padding: 2px;*/
    
}

.chart-container{
    width: auto;
    min-height: 150px;
    border:0px solid black;
    margin:0 auto;


}
#chart {
            width: 100% !important;
            max-width: 800px;
            height: auto !important;
}

canvas#horizontalBarChartCanvas {
    /* max-width: 1768px;
    height:auto !important; 
    border:blue solid 2px;*/
    /*margin: 40px auto;*/
  }